*.sqlite*
# Laravel & PHP
/vendor
/node_modules
/public/storage
/storage/*.key
/storage/app/public
/storage/debugbar
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/bootstrap/cache/*.php

# Composer & NPM
composer.lock
package-lock.json
yarn.lock
pnpm-lock.yaml

# Environment files
.env
.env.backup
.env.*.backup

# IDE & OS files
.idea
.vscode
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
Thumbs.db

# Testing
coverage/
.phpunit.cache
